[Desktop Entry]
Version=1.0
Name=Lumon Macrodata Refiner
Comment=Lumon Macrodata Refiner
Exec=omarchy-launch-webapp https://passi.design/lab/lumon/?source=post_page-----2ba59fccbee9---------------------------------------
Terminal=false
Type=Application
Icon=__ICON_PATH__
StartupNotify=true
